<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout.html :: layout(~{::title},~{::body})}">
<head>
<title>Accueil</title>
</head>
<body>
	<main>

		<h1>Bienvenue sur CodeJohnny Online &copy;</h1>
		<img style="width: 300px; height: 150px;"
		src="./images/johnny-accueil.jpg" alt="Mon image d'accueil">
		
		<div>
			<p>Afin de commencer à jouer, veuillez soit vous connecter ou vous inscrire</p>
		</div>
		<div>
			<a class="btn btn-dark" th:href="@{connexion}" role="button" name="connexion">Connectez-vous !</a>
		</div>
		<div>
			<a class="btn btn-dark"	th:href="@{inscription}" role="button" name="inscription">Inscrivez-vous !</a>
		</div>
		
	</main>
</body>
</html>