<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout.html :: layout(~{::title},~{::body})}">
<head>
<title>Home</title>
</head>
<body>
	<header>
		<h1>Bonjour [[${session.personne.pseudo}]]</h1>
	</header>
		
	<main>
		<h1>Main (temporaire)</h1>
		
		<a class="btn btn-black" th:href="@{creationpartie(idPersonne=${session.personne.id})}" role="button"> Creer une partie</a>
	
		
	<aside>
		<h1>Aside (temporaire)</h1>
		<h1>[[${lesParties}]]</h1>
	</aside>
	</main>
	

</body>
</html>