<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout.html :: layout(~{::title},~{::body})}">
<head>
<title>Rejoindre Partie</title>
<meta name="viewport" content="width=devide-width, initial-scale=1" />
<script defer src="assets/scripts/rejoindrePartie.js"></script>
</head>
<body>
		
		<section>
			<h1>Choisir un role et une couleur</h1>

			<h2>Choisir un role</h2>
			<div>
				<p>
					<input type="radio" name="role" id="role_agent" value="agent">
					<label for="role_1">Agent</label>
				</p>
				<p>
					<input type="radio" name="role" id="role_maitre" value="maitre">
					<label for="role_2">Maitre</label>
				</p>
			</div>

			<h2>Choisir une couleur</h2>
			<div>
				<p>
					<input type="checkbox" name="couleur" id="couleur_rouge"
						value="rouge"> <label for="couleur_rouge">Rouge</label>
				</p>
				<p>
					<input type="checkbox" name="couleur" id="couleur_bleu"
						value="bleu"> <label for="couleur_bleu">Bleu</label>
				</p>
			</div>

			<div>
				<button type="button" class="btn btn-dark" name="role_couleur" value="Valider">Valider</button>
			</div>

		</section>
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
			integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
			integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
			crossorigin="anonymous"></script>

</body>
</html>